.fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4FECEC;
  border-radius: 30px;
}
.carcasa {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A50B1D;
  width: 300px;
  height: 150px;
}
.carcasa.Sup {
  border-radius: 30px 30px 0 0;
  border-bottom: 3px solid black;
  box-shadow: 0px 3px 0px 0px rgba(218,218,218,1);
}
.supIzq1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0px #720815;
  position: relative;
  top: -33%;
  left: -32.5%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.supIzq2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0px #720815;
  position: relative;
  top: 5%;
  left: 3%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.supDch1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: -2px 2px 2px 0px #720815;
  position: relative;
  top: -33%;
  right: -32.5%;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.supDch2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: -2px 2px 2px 0px #720815;
  position: relative;
  top: 4%;
  left: 33%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.circuloSup, .circuloInf {
  width: 110px;
  height: 50px;
  transform: translate(-50%, -50%);
  border: 15px solid black;
  margin-left: 50%;
  box-shadow: 0px 0px 0px 3px rgba(218,218,218,1);
  background-color: #4FECEC;
}
.circuloSup {
  border-radius: 150px 150px 0 0;
  border-bottom: none;
  
}
.circuloInf {
  margin-top: 20px;
  border-radius: 0 0 150px 150px;
  border-top: none;
}
.aros {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #4FECEC;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 7px #8fffff;
}
.aroPadre {
  top: 154px;
  margin-left: 20px;
  width: 100px;
  height: 100px;
}
.aroHijo {
  width: 80px;
  height: 80px;
}
.linea {
  position: relative;
  top: -125px;
  width: 100%;
  height: 20px;
  background-color: #4FECEC;
}
.carcasa.Inf {
  margin-top: -50px;
  border-radius: 0 0 30px 30px;
  border-top: 3px solid black;
  box-shadow: 0px -3px 0px 0px rgba(218,218,218,1);
}
.infIzq1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 2px -2px 2px 0px #720815;
  position: relative;
  bottom: -32%;
  left: -32.5%;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
.infIzq2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 2px -2px 2px 0px #720815;
  position: relative;
  top: 30%;
  left: 3%;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.infDch1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: -2px -2px 2px 0px #720815;
  position: relative;
  bottom: -32%;
  right: -32.5%;
  border-left: 2px solid black;
  border-top: 2px solid black;
}
.infDch2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: -2px -2px 2px 0px #720815;
  position: relative;
  top: 30%;
  left: 33%;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.aros > button {
  background-color: transparent;
  border-style: none;
  font-size: 25px;
}
.aros > button:hover {
  color: #A50B1D;
}
.pantalla {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenido {
  background-color: #59BDE5;
  margin-top: -300px;
  width: 298px;
  height: 200px;
  margin-bottom: -100px;
  display: none;
  position: relative;
  border: 1px solid white;
  font-family: cursive;
}
.contenido > label {
  text-align: center;
  margin-bottom: -24px;
  margin-left: 90px;
  border-bottom: 1px solid white;
  width: 200px;
}
.contenido > input {
  margin-left: 30px;
  border-radius: 15px 0 0 15px;
  background-color: #59BDE5;
  border-style: none;
  border-bottom: 1px solid white;
}
.contenido > button {
  border-style: none;
  border-radius: 0 15px 15px 0;
  background-color: #A50B1D;
  color: white;
}
#img {
    margin-top: -15px;
    margin-left: -20px;
}
.contenido img {
  width: 200px;
  height: 200px;
  margin-top: -30px; 
}
.datos {
  display: flex;
  flex-direction: row;
}
#datos {
  text-align: center;
  margin-top: 10px;
  margin-left: -50px;
  font-size: 10px;
}
td {
  border-bottom: 1px solid white;
}